.contenedor {
  width: 1000px;
  margin: 0px auto;
  border: 1px solid black;
}
header {
  text-align: center;
  background:
}
h1 {
  display: inline-block;
}
input[type="text"] {
  display: block;
  margin: auto;
}
footer {
  text-align: center;
}
.inline-block {
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
}
.mainSection {
  width: 69%;
}
.mainAside {
  width: 30%;
}
.mainArticle{
  width: 32%;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
  margin: 1px;
}
nav {
  display: ;
}
.mainMenu{

}
li{

*{
  background-color: 999999;
}
