.contenedor {
  width: 1000px;
  margin: 20px auto; 
  padding: 20px;
  border: 1px solid black;
  background: #3F51B5;
  font-family: sans-serif;

}
input[type="button"]{
  background: #FF9800;
  color: #FFFFFF;
  border-style: none;
  font-size: 14px;
}
header {
  text-align: center;
 
}
h1 {
  display: inline-block;
  color: #FFFFFF;
  font-weight: bold;
}
input[type="text"] {
  display: block;
  margin: 10px auto;
  padding: 5px;
  font-size: 16px;
  color: #212121;
}
input[type="checkbox"]{
    margin: 10px auto;
  padding: 5px;
}
span.mainFooterRegis{
  font-size: 16px;
  color: #C5CAE9;
}

footer {
  text-align: center;
}
.inline-block {
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
}
.mainSection {
  width: 69%;
  border: 0px;
  background: #c5cae9;
}
.mainAside {
  width: 25%;
  background: #c5cae9;
  padding: 10px;
}
.mainAside h3, .mainAside h4{
  text-align: left;
}
.mainAside h3{
  border-bottom: 1px solid #212121;
  font-size: 20px;
}

.mainArticle{
  width: 32%;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
  margin: 1px;
}
.mainMenu{
  border: 1px solid black;
  list-style:none;
  box-sizing: border-box;
  background: #303F9F;
  padding: 0px;
}
.mainMenu li{
  display: inline-block;
    margin: 10px 5px;
    font-size: 20px;
}
li{
  list-style: none;
}
.mainPublicacion header{
  text-align: left;
}
.mainPublicacion header h3{
 display: inline-block;
}
.titleIcon{
  float: right;
  margin: 0.5em 0.5em 0 0;
}
.mainPublicacion  {
  border: 1px solid black;
  margin: 5px;
}


.hastag, .likes{
 position: absolute;
 left: 0;
}

.mainImagenPubli{
  display: block;
  height: 2em;
  position: relative;
  margin-top: 1em;
}
.mainImagenPubli .favBlock{
 /* float: right;
  margin-right: 1em; */
  position: absolute;
  right: 1em;
  width: 60px;
  text-align: right;
}
.mainImagenPubli .tagBlock{
  position: absolute;
  left: 1em;
  width: 50%;
  text-align: left;
}
.tags{
  margin-left: 2em;

}

img {
  display: inline-block;
  width: 20px;

}
.mainSectionPubli{
  border: 1px solid black;
  padding: 50px;
  margin:5px;
}
.mainImagenMensaje{
  display: inline-block;
}
.mainImagenMensaje .hastag{
   position: absolute;
  left: 1em;
  width: 20px;
  text-align: left;
}
#enviar{
  display: inline-block;
  margin:1px;
  width: 500px;
}
#etiquetaGrande{
  width: 70px;
  margin: 5px;

}



