#Cabezera {
  background-color: Red; /*   Comentario */
}

h1{
  font-size: 42px;
}

.color {
  color: Blue;
}

p{
  color: pink;
}

article header h1{
  font-size: 52px;
}

#MiEstilo footer p{

}

article.borde h1 {
  border: 2px solid orange; /*si o si en ese orden*/
}
div[name = "nombredeldiv"] {    /*que tenga ese nombre*/

}
div[name ^= "nombredeldiv"] {   /*que empiece el nombre en eso*/
  
}
div[name $= "nombredeldiv"] {   /*que termine el nombre en eso*/

}
div[name *= "nombredeldiv"] {   /*que contenga eso en el nombre*/

}
